/******Page Layout*******/
.main-content-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;

}

.ad-left{
    /*background-image: url('./ad-left.png');*/
    height: 100vh;
    width: 16%;
}

.center-content-matches{
    height: 100vh;
    width: 85%;

}

.mid-season{
    padding-top: 5%;
    height: 50%
    

}

.ad-right{
    height: 100vh;
    width: 16%;

    /*background-image: url('./ad-right.png');*/
}

/* live matches styling*/

.matches-header{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: white;

}

.live-match-container{
    height: 200px;
    width: 400px;
    border: thin solid lightgray;
    background-color: #FFFFFF;
    margin: 5px;
    color: black;
    box-shadow: 0 7px 28px rgba(0,0,0,0.25);
}

.live-event{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: thin solid black;
}

.live-match-content-section{
    width: 100%;
    height: 75%
}
.format-maps-container-live{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: lightgray solid thin;
}
.format-live-match{
    height: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.live-maps-container{
    display: flex;
    margin-top: 2%;
}

.live-map-names{
    width: 75px;
    text-align: center;
}


.no-live-matches{
    height: 500px;
}

.flex-wrap-live-matches{
    justify-content: center;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap-upcoming-matches{
    justify-content: center;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.team-names-scores{
    width: 100%;
}
.team-name-live{
    width: 40%;
    height: 30px;
    margin-left: 5%;
    margin-top: 10px;
}



/****UPCOMING MATCHES STYLING****/
.upcoming-matches-section{
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;

}

.link{
    width: 100%;
    text-decoration: none;
}
.upcoming-container{
    width: 99.9%;
    height: 45px;;
    display: flex;
    border: thin solid lightgray;
    background-color: white;
    align-items: center;
    box-shadow: 0 7px 28px rgba(0,0,0,0.25);
    margin: .15%;


}

.upcoming-team1-name{
    font-size: 100%;
    width: 30%;
    color: #333;
    margin-left: 1%
}

.upcoming-date{
    font-size: 15px;
    color: gray;
    padding-right: 1%;
     
}

.upcoming-vs{
    width: 5%;
    font-size: 10px;
    color: gray;
}

.upcoming-team2-name{
    font-size: 110%;
    width: 30%;
    color: #333
}

.upcoming-event-name{
    font-size: 90%;
    width: 20%;
    color: #556272
}
.upcoming-team-img{
    height: 10%;
}





